<div id="comment-form"style="display: none;">
     <form class="form new-comment-form">  

      <div class="form-group">
        <label for="project-desc">your comment</label>
        <textarea class="form-input" id="commentId" name="comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/project.js"></script>