<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-12">
    <h2>
      <a href="/project/{{project.id}}">{{project.title}}</a>
    </h2>
    <p>Created on {{format_date project.date_created}}</p>
  </div>
</div>
{{/each}}
