<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
{{!-- create comment form --}}
  <div id="comment-form">
   <form class="form comment-form">
      <div class="form-group">
        <label for="comment-container">Leave a Comment!</label>
        <input class="form-input" type="text" id="comment-desc" />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
